@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
    --color-noir: #1A0A0A;
    --color-rose: #E8729A;
}

* {
    padding: 0;
    margin: 0;

    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;

    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-noir);
    color: var(--color-rose);
}

.start-btn {
    border: none;
    padding: 5px 25px;
    font-size: larger;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.281) 5px 5px 5px;
    background-color: var(--color-rose);
    color: var(--color-noir);

    transition: .2s;
}
.start-btn:hover {
    transition: .2s;
    transform: scale(1.1);
}

.prompt-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#get-prompt-btn {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

#get-prompt-btn img {
    filter: invert(-1);
    transition: .5s;
}

#get-prompt-btn img:hover {
    transition: .5s;
    transform: rotateZ(90deg);
}

#how-to-play {
    color: white;
    font-size: smaller;
    font-weight: 100;
    cursor: pointer;
}
#how-to-play:hover {
    text-decoration: underline;
}

.howto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding: 20px;
    border-radius: 10px;
}